[Desktop Entry]
Version=1.0
Type=Application
Name=Cursor IDE
Comment=Editor de código Cursor
Exec=gnome-terminal --title="Cursor Launcher" -- bash -c 'cd /home/lucas/Documentos/DEV/cursor-start && ./cursor-start.sh; exec bash'
Icon=/home/lucas/Documentos/DEV/cursor-start/cursor-icon.png
Terminal=false
Categories=Development;IDE;
StartupWMClass=Cursor 